span.type{
    font-size: 9px;
    letter-spacing: 1px;
    background: #666;
    color: white;
    padding: 2px 3px;
    text-transform: uppercase;
    line-height: 10px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.1);
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
}

span.Water{
    background: #4286f4;
}

span.Grass{
    background: #53bc1e;
}

span.Fire{
    background: rgb(255, 102, 31);
}

span.Normal{
    background: #a1a1a1;
}

span.Electric{
    background: #ffd900;
}

span.Rock{
    background: #a87e00;
}

span.Steel{
    background: #2b7a76;
}

span.Ground{
    background: #e5b23b;
}

span.Ice{
    background: #a2e8e4;
}

span.Dragon{
    background: #2e42af;
}

span.Poison{
    background: #a828d3;
}

span.Bug{
    background: #9cb820;
}

span.Flying{
    background: #9096f0;
}

span.Fighting{
    background: #b42020;
}

span.Ghost{
    background: #705897;
}

span.Psychic{
    background: rgb(255, 77, 130);
}

span.Dark{
    background: #505050;
}

span.Fairy{
    background: #ff91d8;
}