span.type{
    font-size: 9px;
    letter-spacing: 1px;
    background: #666;
    color: white;
    padding: 2px 3px;
    text-transform: uppercase;
    line-height: 10px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.1);
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
}

span.Water{
    background: #4286f4;
}

span.Grass{
    background: #53bc1e;
}

span.Fire{
    background: rgb(233, 62, 20);
}

span.Normal{
    background: #666666;
}

span.Electric{
    background: #ffec1c;
}

span.Rock{
    background: #a87e00;
}

span.Steel{
    background: #a5a5a5;
}

span.Ground{
    background: #e5b23b;
}

span.Ice{
    background: #a2e8e4;
}

span.Dragon{
    background: #142793;
}

span.Poison{
    background: #8217a5;
}

span.Bug{
    background: #9cb820;
}

span.Flying{
    background: #9096f0;
}

span.Fighting{
    background: #992121;
}

span.Ghost{
    background: #705898;
}

span.Psychic{
    background: #F85888;
}

span.Dark{
    background: #666666;
}

span.Fairy{
    background: #ff91d8;
}